# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/
*.iml

# dependencies
/node_modules
/packages
/configuration
/workspace
/p2
/.pnp
.pnp.js

# testing
coverage/

# production
[bB]uild/
bin/
gen/
out/

# misc
.DS_Store
Thumbs.db
.env.local
.env.development.local
.env.test.local
.env.production.local

**/logs
*.log
*.lock
*.tmp
*.xml
