@keyframes popup {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.0);
  }
}

/*@keyframes scaleUpZero {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes scaleUpZeroY {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1.05);
  }
  70% {
    transform: scaleY(0.95);
  }
  100% {
    transform: scaleY(1.0);
  }
}

@keyframes scaleUpRegularZeroY {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1.0);
  }
}*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}