@media screen and (min-width: 1800px) {}
@media screen and (max-width: 1799px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1280px) {
  .top-header,
  .nav-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block {
    font-size: 0.90rem !important;
  }

  .section {
    font-size: 0.95rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .top-header,
  .nav-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block  {
    font-size: 0.85rem !important;
  }

  .section-wrapper__heading {
    font-size: 1.8em !important;
  }
}

@media screen and (max-width: 865px) {
  #slider-text-wrapper {
    font-size: 0.75rem !important;

    .slider__text-block {
      margin: 0 auto;
    }
  }

  .section-wrapper {
    flex-direction: column !important;

    &.top {
      align-items: center !important;
    }
  }

  .section-wrapper__img_block {
    margin: 0 auto;
  }

  .section-wrapper__deaf-block {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  #slider-text-wrapper,
  .slider-layer,
  .raport-block {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 425px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 320px) {}