@media screen and (min-width: 1800px) {}
@media screen and (max-width: 1799px) {}
@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1280px) and (min-width: 1281px) {
  .top-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block {
    font-size: 0.90rem !important;
  }

  .nav-header {
    font-size: 0.85rem !important;
  }

  .section {
    font-size: 0.95rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .top-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block  {
    font-size: 0.85rem !important;
  }

  .nav-header {
    font-size: 0.8rem !important;
  }

  .section-wrapper__heading {
    font-size: 1.8em !important;
  }
}

@media screen and (max-width: 865px) {
  #slider-text-wrapper {
    font-size: 0.8rem !important;

    .slider__text-block {
      margin: 0 auto;
    }
  }

  .nav-header {
    font-size: 0.75rem !important;
  }

  .section-wrapper {
    flex-direction: column !important;

    &.top {
      align-items: center !important;
    }

    &.flex-row {
      flex-direction: row !important;
    }
  }

  .section-wrapper__img_block {
    margin: 0 auto;
  }

  .section-wrapper__deaf-block {
    text-align: center;
  }

  .section-wrapper__text-block {
    max-width: 45em !important;
  }
}

@media screen and (max-width: 768px) {
  #slider-text-wrapper,
  .slider-layer,
  .raport-block {
    font-size: 0.8rem !important;
  }

  #menu-burger {
    display: block !important;
  }

  #burger-list {
    display: none !important;
  }

  .shadowed {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .header__nav__link {
    //width: 100%;
    margin: 5px 0;

    &:hover {
      transform: scale(1);
      background-color: $uStyleColor;
      color: $white;
    }
  }
}

@media screen and (max-width: 425px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 320px) {}