@media screen and (min-width: 1800px) {}
@media screen and (max-width: 1799px) {}
@media screen and (max-width: 1440px) {}
@media screen and (max-width: 1280px) {
  .top-header,
  .nav-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block {
    font-size: 0.90rem !important;
  }

  .section {
    font-size: 0.95rem !important;
  }
}

@media screen and (max-width: 1024px) {
  .top-header,
  .nav-header,
  .slider-layer,
  #slider-text-wrapper,
  .raport-block  {
    font-size: 0.85rem !important;
  }

  .section {
    font-size: 0.85rem !important;
  }
}

@media screen and (max-width: 768px) {
  #slider-text-wrapper,
  .slider-layer,
  .raport-block {
    font-size: 0.7rem !important;
  }

  .section {
    font-size: 0.8rem !important;
  }

  .section-wrapper__deaf-block {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 320px) {}