@import "./variables";

$flex-box-row-center: row, center, center;
$flex-box-row-between: row, space-between, center;
$flex-box-row-left: row, flex-start, center;
$flex-box-row-right: row, flex-end, center;
$flex-box-row-top: row, center, flex-start;
$flex-box-row-bottom: row, center, flex-end;
$flex-box-col-left: column, center, flex-start;
$flex-box-col-right: column, center, flex-end;
$flex-box-col-center: column, center, center;

///MIXIN

@mixin flex-box ($flow, $justify, $align) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $time: 0.25s) {
  transition: $property $time ease-in-out;
}

@mixin init-font ($font-size, $font-weight) {
  font: {
    size: $font-size;
    weight: $font-weight;
  }
}

@mixin text-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  text-shadow: $dim $dim $shadow $color ;
}

@mixin box-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  box-shadow: $dim $dim $shadow $color;
}

@mixin image-wrapper($dimension_param, $value) {
  #{$dimension_param}: $value;

  img {
    display: block;
    max-width: 100%;
    max-height: 100%;

    @if($dimension_param == 'width') {
      height: auto;
    }
    @else {
      width: auto;
    }
  }
}

@mixin scroll-init($width, $thumbColor, $trackColor) {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

  /* width */
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Handle */
  &:hover::-webkit-scrollbar-thumb {
    background-color: $thumbColor;
  }

  /* Track */
  &:hover::-webkit-scrollbar-track {
    background-color: $trackColor;
  }
}