$flex-box-row-center: row, center, center;
$flex-box-row-between: row, space-between, center;
$flex-box-row-left: row, flex-start, center;
$flex-box-row-top: row, center, flex-start;
$flex-box-col-left: column, center, flex-start;
$flex-box-col-center: column, center, center;

///MIXIN

@mixin flex-box ($flow, $justify, $align) {
  display: flex;
  flex-flow: $flow wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $time: 0.3s) {
  transition: $property $time ease-in-out;
}

@mixin init-font ($font-size, $font-weight) {
  font: {
    size: $font-size;
    weight: $font-weight;
  }
  line-height: $font-size + 4px;
}

@mixin text-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  text-shadow: $dim $dim $shadow $color ;
}

@mixin box-shadow($dim, $shadow, $color: rgba(0,0,0,0.8)) {
  box-shadow: $dim $dim $shadow $color;
}



