///dimensions
$maxWidth: 1900px; //at media 1920 we`ll have rest space of with 10px from both sides
$midWidth: 1240px;


///colors
$white: rgba(255, 255, 255, 1);
$uStyleColor: rgba(43, 130, 100, 1);

$uStyleDarker: rgba(32, 96, 73, 1);
$uStyleGrey: rgba(188, 189, 189, 1);

$greyDark: rgba(48, 49, 49, 1);