///dimensions
$maxWidth: 1280px;
$minWidth: 1024px;

///colors
$white: rgb(255, 255, 255);
$greyLightest: rgb(241, 243, 246);
$greyLighter: rgb(230, 233, 240);
$greyLight: rgb(220, 220, 220);
$greyNorm: rgb(119, 119, 119);
$greyDarker: rgb(100, 100, 100);
$greyDark: rgb(51, 51, 51);
$blue: rgb(0, 57, 117);
$blueDark: rgb(0, 41, 86);
$foxy: rgb(238, 121, 0);
$foxyLight: rgba(248, 206, 163, 1);
$red: rgb(229, 0, 27);