@import "./partial/reset";
@import "./partial/fonts";
@import "./partial/animations";
@import "./partial/mixins";
@import "./partial/variables";
@import "./partial/media";

body {
  font-family: "Roboto-Regular", serif;
  color: $greyDark;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  //user-select: none;
  @include transition();

  /*************TOP BORDER BODY****************/
  &:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
  /*****************END TOP BORDER BODY************/
}

.top-layer {
  position: relative;
  //width: 100%;
  max-width: $maxWidth; //making limited width of the Total Wrapper
  margin: 0 auto;
  padding: 0 1.25em;

  &.colored {
    background-color: $uStyleColor;
  }

  &.section {
    font-size: 1rem;
    padding-top: 4.75em;
    padding-bottom: 4.75em;

    @include transition();

     &.grey {
      background-color: $greyLight;
      border: 0.063em solid $uStyleGrey;
      @include transition();
    }

     &.white {
      background-color: $white;
      border: 0.063em solid transparent;
      @include transition();
    }
  }
}

.inner-layer {
  width: 100%;
  max-width: $midWidth; ///media with 1280 will have rest space
  margin: 0 auto;
}

.top-header {
  font-size: 1rem;
  padding: 0.3em 0;
  margin-bottom: 0.625em;
  @include flex-box($flex-box-row-center...);
  @include transition();


  &__phone-block {
    @include flex-box($flex-box-row-center...);
    flex-wrap: nowrap;

    .phone-icon {
      display: inline-block;
      width: 1.125em;
      height: 1.125em;
      background: url("../assets/img/phone_white.png") center/cover;
      filter: drop-shadow(0 0 0.25em $white);
      margin: 0 1em;
    }

    .phone-number {
      @include init-font(1.5em, 700);
      color: $white;
      text-shadow: 0.125em 0.125em 0.188em $greyDark;
    }
  }

  &__social-block {
    flex-grow: 1;
    @include flex-box($flex-box-row-right...);

    .social-icon {
      width: 18px;
      height: 18px;
      margin-left: 10px;
      @include transition();

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &.facebook {
        background: url("../assets/img/social/facebook_icon.png") center/cover;
      }

      &.telegram {
        background: url("../assets/img/social/telegram_icon.png") center/cover;
      }

      &.instagram {
        background: url("../assets/img/social/instagram_icon.png") center/cover;
      }
    }
  }
}

.nav-header {
  font-size: 1rem;
  margin-bottom: 10px;

  @include flex-box($flex-box-row-bottom...);
  @include transition();

  &__logo-link {
    @include image-wrapper(width, 16.25em);
  }

  &__navigation {
    flex-grow: 1;
    margin-left: 20px;
    @include flex-box($flex-box-row-right...);

    #burger-switcher {
      display: none;

      &:checked ~ #burger-list {
        display: flex;
        position: absolute;
        flex-direction: column;
        padding: 20px 0;
        width: 125px;
        top: 100%;
        right: 0;

        @include flex-box($flex-box-col-left...);
        animation: fadeIn 0.5s ease forwards;
      }

      &:checked ~ label > #menu-burger {
        span {
          background-color: $uStyleGrey;
        }
        span::before {
          transform: translateY(2px);
          background-color: $uStyleGrey;
        }
        span::after {
          transform: translateY(-2px);
          background-color: $uStyleGrey;
        }
      }
    }

    .header__nav__link {
      padding: 0 1.25em;
      text-decoration: none;
      color: $uStyleDarker;
      @include transition(all, 0.2s);
      @include init-font(1.125em, 700);

      &:hover {
        transform: scale(1.05);
        color:$uStyleGreyDarker;
      }

      &.list {
        position: relative;
        z-index: 100;
        cursor: pointer;

        &:hover .list__sub-list {
          display: block;
          animation: fadeIn 0.4s ease forwards;
        }

        .list__sub-list {
          position: absolute;
          display: none;
          opacity: 0;
          top: 100%;
          left: 0;
          width: 14.375em;
          color: $uStyleColor;
          background-color: $white;
          padding: 1.25em 0;

          @include transition();

          @media screen and (max-width: 768px) {
            top: 0;
            left: -150%;
          }

          .sub-list__link {
            @include transition();
            @include init-font(1em, 400);

            width: 100%;
            margin-top: 0.29em;
            text-decoration: none;
            padding: 0 1.25em;

            &:hover {
              color: $white;
              background-color: $uStyleColor;
            }
          }
        }
      }
    }
  }
}

#burger-list {
  z-index: 100;
  background-color: $white;

  @include flex-box($flex-box-row-center...);
  @include transition();

  @media screen and (max-width: 768px) {
    display: none;
  }

  .header__nav__link {
    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 5px 0;

      &:hover {
        transform: scale(1);
        background-color: $uStyleColor;
        color: $white;
      }
    }
  }
}

#menu-burger {
  display: none;
  width: 25px;
  cursor: pointer;

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    margin: 10px 0;
    border-radius: 2px;
    background-color: $uStyleColor;

    &::before {
      display: block;
      position: absolute;
      top: 160%;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: $uStyleColor;
      @include transition();
    }

    &::after {
      display: block;
      position: absolute;
      top: -150%;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: $uStyleColor;
      @include transition();
    }
  }

  @media screen and (max-width: 768px) {
    display: block;
  }
}

.slider-layer {
  position: relative;
  font-size: 1rem;
  min-height: 46em;
  background: url("../assets/img/glavnaya/disposable-clothing.jpg") center/cover;

  @include flex-box($flex-box-row-center...);
  @include transition();

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
}

#slider-text-wrapper {
  position: relative;
  font-size: 1rem;
  overflow: hidden;

  .slider__text-block {
    position: absolute;
    top: -200%;
    left: -200%;
    color: $white;
    max-width: 45em;
    padding: 1.25em;
    margin-left: 4%;
    opacity: 0;

    @include transition();

    span  {
      font-weight: 700;
      sup {
        @include init-font(0.7em, 700);
      }
    }

    h2 {
      @include init-font(2.8em, 400);
      margin-bottom: 0.5em;
      line-height: 1.1em;
    }

    p {
      @include init-font(1.4em, 400);
      margin-bottom: 1.5em;
    }

    &.active {
      position: static;
      animation: fadeIn 0.9s ease forwards;
    }
  }
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 11px 25px;
  border-radius: 4px;

  @include init-font(16px, 700);
  @include transition();

  &:hover {
    transform: scale(1.05);
  }

  &.corp {
    color: $uStyleColor;
    background-color: transparent;
    border: 0.125em solid $uStyleColor;

    &:hover{
      color: $white;
      background-color: $uStyleColor;
    }
  }

  &.white {
    color: $white;
    background-color: transparent;
    border: 0.125em solid $white;

    &:hover {
      color: $uStyleColor;
      background-color: $white;
    }
  }
}

.raport-block {
  padding-top: 4.75em;
  padding-bottom: 3em;
  text-align: center;
  @include transition();

  h1 {
    @include init-font(2.2em, 700);
    text-align: center;
    color: $uStyleColor;
  }

  &__main-text {
    @include init-font(1.5em, 400);
    display: inline-block;
    max-width: 35em;
    padding: 1.7em 0;
    line-height: 1.2em;

    span  {
      color: $uStyleColor;
      font-weight: 700;

      sup {
        @include init-font(0.5em, 700);
      }
    }
  }
}

.section-wrapper {

  @include flex-box($flex-box-row-center...);
  //justify-content: space-around;

  &.top {
    align-items: flex-start !important;
  }

  &:hover .section-wrapper__img_block::before {
    background-color: rgba(0,0,0,0.1);
  }

  &__heading {
    max-width: 25em;
    padding-bottom: 1.5em;
    margin: 0 auto;
    text-align: center;
    color: $uStyleColor;

    @include init-font(2em, 700);

    &.stress {
      @include init-font(1.5em, 700);
    }
  }

  &__text_block {
    @include init-font(1.125em, 400);

    max-width: 35.5em;
    min-width: 26.9em;
    line-height: 1.5em;
    padding: 0 1.25em;

    p {
      padding-bottom: 1em;
      text-align: justify;

      span  {
        color: $uStyleColor;
        font-weight: 700;
        font-size: 0.9em;
        sup {
          @include init-font(0.7em, 700);
        }
      }
    };

    &.half-size {
      flex-basis: 45%;
      flex-grow: 1;
    }
  }

  &__img-wrapper {
    flex-basis: 30%;
    flex-grow: 1;
    margin: 1.25em;
  }

  &__img_block {
    position: relative;
    margin: 0 auto;
    @include image-wrapper(width, 100%);

    max-width: 22.5em;
    //min-width: 18.75em;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: rgba(0,0,0,0.5);
      @include transition();
    }
  }

  &__deaf-block {
    width: 100%;
    padding: 0 1.25em;
  }
}

.footer-layer {
  min-height: 600px;
  background-color: $uStyleColor;
  color: $white;
  @include flex-box($flex-box-row-center...);
}

////////OPTIONAL

.push-button-20 {
  margin-bottom: 1.25em;
}

.push-top-20 {
  margin-top: 1.25em;
}

.padding-button_clear {
  padding-bottom: 0 !important;
}