@import "./partial/reset";
@import "./partial/fonts";
@import "./partial/animations";
@import "./partial/mixins";
@import "./partial/variables";

body {
  font-family: "Roboto-Regular", serif;
  color: $greyDark;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 100%;
  //user-select: none;
  @include transition();

  /*************TOP BORDER BODY****************/
  &:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
  /*****************END TOP BORDER BODY************/
}

.top-layer {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-layer {
  max-width: $midWidth; ///media with 1280 will have rest space
  margin: 0 auto;
  padding: 0 20px;
}

.top-header {
  @include flex-box($flex-box-row-center...);
  background: linear-gradient(75deg, $uStyleColor, $white 90%);
  padding: 10px 0;
  margin-bottom: 10px;


  &__phone-block {
    @include flex-box($flex-box-row-center...);
    flex-wrap: nowrap;

    .phone-icon {
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url("../assets/img/phone_white.png") center/cover;
      filter: drop-shadow(0 0 4px $white);
      margin: 0 10px;
    }

    .phone-number {
      @include init-font(24px, 700);
      color: $white;
      text-shadow: 2px 2px 3px $greyDark;
    }
  }

  &__social-block {
    flex-grow: 1;
    @include flex-box($flex-box-row-right...);

    .social-icon {
      width: 18px;
      height: 18px;
      margin-left: 10px;
      @include transition();

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &:hover {
        transform: scale(1.2);
      }

      &.facebook {
        background: url("../assets/img/social/facebook_icon.png") center/cover;
      }

      &.telegram {
        background: url("../assets/img/social/telegram_icon.png") center/cover;
      }

      &.instagram {
        background: url("../assets/img/social/instagram_icon.png") center/cover;
      }
    }
  }
}

.nav-header {
  @include flex-box($flex-box-row-center...);
  align-items: flex-end;
  margin-bottom: 10px;

  &__logo-link {
  }

  &__navigation {
    flex-grow: 1;
    margin-left: 20px;
    @include flex-box($flex-box-row-right...);

    .header__nav__link {
      margin: 0 20px;
      text-decoration: none;
      color: $uStyleDarker;
      @include transition(all, 0.2s);
      @include init-font(18px, 700);

      &:hover {
        transform: scale(1.05);
        color:$uStyleGrey;
      }

      &.list {
        position: relative;
        cursor: pointer;

        &:hover .list__sub-list {
          opacity: 1;
          //transform: scaleY(1);
          ///top: 100%;
        }

        .list__sub-list {
          position: absolute;
          top: 100%;
          left: 0;
          width: 230px;
          color: $uStyleColor;
          background-color: $white;
          padding: 10px 20px 20px;
          padding-top: 10px;
          padding-bottom: 20px;
          //transform: scaleY(0);
          //transform-origin: 50% 100%;
          opacity: 0;
          @include transition();

          .sub-list__link {
            @include transition();
            @include init-font(16px, 700);

            margin-top: 10px;
            text-decoration: none;

            &:hover {
              color: $uStyleGrey;
              transform: translateX(5px);
            }
          }
        }
      }
    }

  }
}

.slider {
  background: $uStyleGrey;
  overflow: hidden;
  min-height: 810px;
  @include flex-box($flex-box-row-center...);

  &__text-block {
    color: $white;
    width: 720px;
    padding: 20px;

    h2 {
      @include init-font(50px, 400);
      margin-bottom: 20px;
    }

    p {
      @include init-font(24px, 400);
      margin-bottom: 20px;
    }

    a {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      font-weight: 700;
      color: rgba(27, 22, 156, 1);
      margin-top: 20px;
      @include transition();

      &:hover {
        transform: scale(1.05);
        color: $white;
      }
    }
  }

  &__image-block {
    @include image-wrapper(width, 260px);
    border: 1px solid red;
  }

  .inner-layer {
    width: 100%; //we have max-width from outer .inner-layer
    @include flex-box($flex-box-row-center...);
  }
}

.link-button {
  padding: 12px 30px;
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
  border: 2px solid $white;
  @include transition();

  &:hover {
    background-color: rgba(255,255,255,0);
  }
}

.raport-block {
  padding-top: 60px;
  text-align: center;

  h1 {
    text-align: center;
    color: $uStyleColor;
    @include init-font(38px, 700);
  }

  &__main-text {
    display: inline-block;
    text-align: center;
    max-width: 825px;
    padding: 40px 0;
    @include init-font(24px, 400);
    line-height: 28px;

    span {
      color: $uStyleColor;
      @include init-font(28px, 700);
    }
  }
}

.section_grey {
  padding: 40px 0;
  background-color: $greyLight;
  border: 1px solid $uStyleGrey;
  @include flex-box($flex-box-row-center...);
}

.section__text {
  max-width: 570px;
  line-height: 24px;
  @include init-font(18px, 400);

  p {
    padding-bottom: 10px;
  };
}

.image-wrapper {

}