@import "./partial/reset";
@import "./partial/fonts";
@import "./partial/animations";
@import "./partial/mixins";
@import "./partial/variables";
@import "./partial/media";

body {
  font-family: "Roboto-Regular", serif;
  color: $greyText;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  //user-select: none;
  @include transition();

  /*************TOP BORDER BODY****************/
  &:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
  }
  /*****************END TOP BORDER BODY************/
}

.top-layer {
  position: relative;
  //width: 100%;
  max-width: $maxWidth; //making limited width of the Total Wrapper
  margin: 0 auto;
  padding: 0 1.25em;

  &.colored {
    background-color: $uStyleColor;
  }

  &.section {
    font-size: 0.95rem;
    padding-top: 6em;
    padding-bottom: 6em;

    @include transition();
  }
}

.inner-layer {
  width: 100%;
  max-width: $midWidth; ///media with 1280 will have rest space
  margin: 0 auto;
}

.top-header {
  font-size: 1rem;
  padding: 0.3em 0;
  margin-bottom: 0.625em;
  @include flex-box($flex-box-row-center...);
  @include transition();
}

.phone-block {
  padding: 0.3em 0;
  @include flex-box($flex-box-row-center...);
  flex-wrap: nowrap;

  &.right {
    justify-content: flex-start;

    @include init-font(1.2em, 700);
  }

  .phone-icon {
    display: inline-block;
    width: 1.125em;
    height: 1.125em;
    background: url("../assets/img/phone_white.png") center/cover;
    filter: drop-shadow(0 0 0.25em $white);
    margin-right: 1em;
  }

  .phone-number {
    @include init-font(1.2em, 700);
    color: $white;
    text-shadow: 0.125em 0.125em 0.188em $greyDark;
  }
}

.social-block {
  flex-grow: 1;
  @include flex-box($flex-box-row-right...);

  .social-icon {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    @include transition();

    &:not(:last-of-type) {
      margin-right: 10px;
    }

    &:hover {
      transform: scale(1.2);
    }

    &.facebook {
      background: url("../assets/img/social/facebook_icon.png") center/cover;
    }

    &.telegram {
      background: url("../assets/img/social/telegram_icon.png") center/cover;
    }

    &.instagram {
      background: url("../assets/img/social/instagram_icon.png") center/cover;
    }
  }
}

.nav-header {
  font-size: 0.95rem;
  margin-bottom: 0.8em;

  @include flex-box($flex-box-row-bottom...);
  @include transition();

  &__logo-wrapper {
    @include image-wrapper(width, 12em);
  }

  &__navigation {
    flex-grow: 1;
    margin-left: 20px;
    @include flex-box($flex-box-row-right...);

    #burger-switcher {
      display: none;

      &:checked ~ #burger-list {
        display: flex !important;
        position: absolute;
        flex-direction: column;
        padding: 20px 0;
        width: 125px;
        top: 100%;
        right: 0;

        @include flex-box($flex-box-col-left...);
        animation: fadeIn 0.5s ease forwards;
      }

      &:checked ~ label > #menu-burger {
        span {
          background-color: $uStyleGrey;
        }
        span::before {
          transform: translateY(2px);
          background-color: $uStyleGrey;
        }
        span::after {
          transform: translateY(-2px);
          background-color: $uStyleGrey;
        }
      }
    }

    .header__nav__link {
      padding: 0 1.25em;
      text-decoration: none;
      text-transform: uppercase;
      color: $uStyleDarker;
      @include transition(all, 0.2s);
      @include init-font(1em, 700);

      &:hover {
        transform: scale(1.05);
        color:$uStyleGreyDarker;
      }

      &.last {
        padding-right: 0;
      }

      &.list {
        position: relative;
        z-index: 100;


        &:hover .list__sub-list {
          display: block;
          animation: fadeIn 0.4s ease forwards;
          opacity: 1;
        }

        .list__sub-list {
          position: absolute;
          display: none;
          opacity: 0;
          top: 100%;
          left: 0;
          width: 14.375em;
          color: $uStyleColor;
          background-color: $white;
          padding: 1.25em 0;

          @include transition();

          @media screen and (max-width: 768px) {
            top: 0;
            left: -150%;
          }

          .sub-list__link {
            @include transition();
            @include init-font(0.8em, 400);

            width: 100%;
            margin-top: 0.5em;
            text-decoration: none;
            padding: 0 1.25em;

            &:hover {
              color: $white;
              background-color: $uStyleColor;
            }
          }
        }
      }
    }
  }
}

#burger-list {
  z-index: 100;
  background-color: $white;

  @include flex-box($flex-box-row-center...);
  @include transition();

}

#menu-burger {
  display: none;
  width: 25px;
  cursor: pointer;

  span {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    margin: 10px 0;
    border-radius: 2px;
    background-color: $uStyleColor;

    &::before {
      display: block;
      position: absolute;
      top: 160%;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: $uStyleColor;
      @include transition();
    }

    &::after {
      display: block;
      position: absolute;
      top: -150%;
      left: 0;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: $uStyleColor;
      @include transition();
    }
  }
}

#prod-list {
  display: none;

  &:checked ~ .list__sub-list {
    display: block;
    animation: fadeIn 0.4s ease forwards;
  }
}

#docs-list {
  display: none;

  &:checked ~ .list__sub-list {
    display: block;
    animation: fadeIn 0.4s ease forwards;
  }
}

.slider-layer {
  position: relative;
  font-size: 0.95rem;
  min-height: 46em;

  @include flex-box($flex-box-row-center...);
  @include transition();

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }

  &.main-page {
    background: url("../assets/img/main-page/disposable-medical-clothing.jpg") center/cover;
  }
  &.cloth-page {
    background: url("../assets/img/medical-clothes/medical-clothing.jpg") center/cover;
  }
}

#slider-text-wrapper {
  position: relative;
  overflow: hidden;

  .slider__text-block {
    font-family: "Nunito-Regular", serif;
    @include text-shadow(0.25em, 0.25em);

    &__head {
      color: $white;
      @include init-font(3rem, 700);
    }

    &__tale {
      color: $white;
      text-transform: uppercase;

      @include init-font(3rem, 700);
    }
  }
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 11px 25px;
  border-radius: 4px;
  margin-top: 1.3em;

  @include init-font(16px, 700);
  @include transition();

  &:hover {
    transform: scale(1.05);
  }

  &.corp {
    color: $uStyleColor;
    background-color: transparent;
    border: 0.125em solid $uStyleColor;

    &:hover{
      color: $white;
      background-color: $uStyleColor;
    }
  }

  &.white {
    color: $white;
    background-color: transparent;
    border: 0.125em solid $white;

    &:hover {
      color: $uStyleColor;
      background-color: $white;
    }
  }
}

.raport-block {
  padding-top: 4.75em;
  padding-bottom: 3em;
  text-align: center;
  @include transition();

  h1, h2 {
    @include init-font(2em, 700);
    text-align: center;
    color: $uStyleColor;
  }

  &__main-text {
    @include init-font(1.1em, 400);
    display: inline-block;
    max-width: 40em;
    padding: 1.7em 0;
    line-height: 1.4em;

    span  {
      color: $uStyleColor;
      font-weight: 700;

      sup {
        @include init-font(0.5em, 700);
      }
    }
  }
}

.section-wrapper {
  @include init-font(1em, 400);
  @include flex-box($flex-box-row-center...);

  line-height: 1.6em;

  &.top {
    align-items: flex-start;
  }

  &:hover .section-wrapper__img_block::before {
    background-color: transparent;
  }

  &__heading {
    margin: 0 auto;
    margin-bottom: 2em;
    text-align: center;
    color: $uStyleColor;

    @include init-font(2em, 700);
    @include transition();

    &.stress {
      @include init-font(1.5em, 700);
      margin-top: 1em;
    }

    &.left {
      text-align: left;
    }

    &.norm-size {
      @include init-font(1.5em, 700);
      margin-bottom: 0;
    }

    span {
      @include init-font(0.9em, 700);

      sup {
        @include init-font(0.6em, 700);
      }
    }
  }

  &__text-block {
    width: 100%;
    //max-width: 33em;
    padding: 0 1.25em;
    margin-top: 2em;
    margin-bottom: 2em;
    list-style: disc inside;  //for ul tag

    hr {
      background-color: $uStyleDarker;
      width: 100%;
      height: 2px;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    p, ul, li {
      margin-bottom: 0.8em;

      span  {
        color: $uStyleColor;
        font-weight: 700;
        font-size: 0.9em;
        sup {
          @include init-font(0.7em, 700);
        }
      }
    };

    &.link-block {
      text-decoration: none;
      font-stretch: expanded;
      overflow: hidden;
      padding-top: 4em !important;
      min-height: 45em !important;

      .link-block__item {

        &.image-wrapper {
          @include image-wrapper(width, 100%);
        }

        &.text-wrapper {

          h3 {
            margin-top: 2em;
            margin-bottom: 1em;
          }

          hr {
            background-color: $uStyleDarker;
            width: 100%;
            height: 2px;
            margin-bottom: 0.8em;
          }
        }
      }
    }

    &.shadowed {
      /*@include flex-box($flex-box-col-left...);*/
      min-height: 15em;
      margin: 1.5em;
      padding-top: 2em;
      padding-bottom: 2em;
      box-shadow: 0 0 0.6em #bcbdbd;
      border: 1px solid #bcbdbd;
      @include transition();

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__img_block {
    position: relative;
    max-width: 28em;
    margin: 0 auto;

    @include image-wrapper(width, 100%);


    &.hovered {

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0,0,0,0.2);
        @include transition();
      }
    }
  }

  &__deaf-block {
    width: 100%;
    padding: 0 1.25em;

    &.limited {
      max-width: 68em;
    }

    .single-text {
      @include init-font(1em, 400);
      line-height: 1.4em;
      max-width: 53em;
      margin: 0 auto;
      margin-bottom: 1.7em;

      &.colored {
        color: $uStyleColor;
      }

      &.center {
        text-align: center;
      }

      &.bigger {
        @include init-font(1.25em, 400);
      }
    }
  }

  &__sku-group {
    text-decoration: none;
    color: $uStyleColor;
    width: 17em;
    height: 12em;
    padding: 1.25em;
    margin: 1em;
    border: 1px solid $uStyleGrey;
    overflow: hidden;

    @include init-font(1em, 700);
    line-height: 1.5em;
    text-align: center;
    @include box-shadow(0.2em, 0.4em);
    @include transition();

    &:hover {
      transform: translateY(-0.5em);
      @include box-shadow(0.4em, 0.45em);
    }

    &:hover hr {
      transform: scaleX(1);
    }

    hr {
      height: 2px;
      background-color: $uStyleColor;
      margin-top: 0.5em;
      transform-origin: 50% 50%;
      transform: scaleX(0); //will be shown in parent hover
      @include transition();
    }
  }

  .half-size {
    flex-basis: 35%;
    //min-width: 27.2em; //will be flexed in column for narrow media
    //max-width: 34em;
    flex-grow: 1;
  }

  .three-in-line {
    flex-basis: 25%;
    //min-width: 27.2em; //will be flexed in column for narrow media
    //max-width: 21.7em;
    flex-grow: 1;
  }
}

#question-form {
margin-top: 2em;

  .input-text {
    @include init-font(1.1em, 400);

    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }

  .question-form__heading {
    margin-bottom: 0.5em;
    color: $uStyleColor
  }

  .question-form__content {
    @include init-font(1.5em, 400);
    width: 100%;
    min-height: 20em;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding: 0.8em;
  }
}

.footer-layer {
  min-height: 110px;
  background-color: $uStyleDarker;
  color: $white;
  @include flex-box($flex-box-row-center...);
}

////////OPTIONAL

.justify {
  text-align: justify;
}

.grey {
  background-color: $greyLight;
  border: 0.063em solid $uStyleGrey;
  @include transition();
}

.white {
  background-color: $white;
  border: 0.063em solid transparent;
  @include transition();
}

.push-button-25 {
  margin-bottom: 1.25em !important;
}

.push-top-20 {
  margin-top: 1.25em !important;
}

.push-top-2em {
  margin-top: 2em !important;
}

.padding-button_clear {
  padding-bottom: 0 !important;
}

.supper-case {
}